In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_bert = pd.read_csv('Output Files/submission_probs_bert.csv')
df_bert.head()

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.419476,0.104656,0.408000,0.813944,0.090331,0.079037
1,20974,0.040021,0.964366,0.035707,0.051682,0.020966,0.020888
2,20975,0.895150,0.102535,0.234577,0.115487,0.030800,0.035173
3,20976,0.036645,0.959158,0.032259,0.039896,0.028884,0.021676
4,20977,0.912465,0.096289,0.253912,0.075876,0.028660,0.037610

In [3]:
df_roberta = pd.read_csv('Output Files/scores_prob_roberta.csv')
df_roberta.head()

          0         1         2         3         4         5
0  0.627166  0.004963  0.219607  0.981550  0.004264  0.003214
1  0.007799  0.996992  0.011145  0.006290  0.007151  0.005450
2  0.992977  0.022863  0.042320  0.010588  0.007099  0.008368
3  0.007237  0.996787  0.010212  0.005349  0.008605  0.006122
4  0.991940  0.047109  0.098162  0.003781  0.007090  0.011946

In [4]:
df_roberta.columns = df_bert.columns[1:]

In [5]:
df_roberta['ID'] = df_bert['ID']

In [6]:
df_roberta.head()

,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance,ID
0,0.627166,0.004963,0.219607,0.981550,0.004264,0.003214,20973
1,0.007799,0.996992,0.011145,0.006290,0.007151,0.005450,20974
2,0.992977,0.022863,0.042320,0.010588,0.007099,0.008368,20975
3,0.007237,0.996787,0.010212,0.005349,0.008605,0.006122,20976
4,0.991940,0.047109,0.098162,0.003781,0.007090,0.011946,20977

In [7]:
df_roberta2 = pd.read_csv('Output Files/scores_prob_roberta_2.csv')
df_roberta2.head()

          0         1         2         3         4         5
0  0.529520  0.004198  0.035811  0.954310  0.004092  0.001641
1  0.004763  0.992359  0.004531  0.007740  0.004364  0.003262
2  0.976087  0.008357  0.139746  0.010985  0.001519  0.001651
3  0.004209  0.990955  0.003879  0.007634  0.006617  0.003392
4  0.987342  0.014400  0.111772  0.009054  0.001935  0.002422

In [8]:
df_roberta2.columns = df_bert.columns[1:]

In [9]:
df_roberta2['ID'] = df_bert['ID']

In [10]:
df_roberta2.head()

,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance,ID
0,0.529520,0.004198,0.035811,0.954310,0.004092,0.001641,20973
1,0.004763,0.992359,0.004531,0.007740,0.004364,0.003262,20974
2,0.976087,0.008357,0.139746,0.010985,0.001519,0.001651,20975
3,0.004209,0.990955,0.003879,0.007634,0.006617,0.003392,20976
4,0.987342,0.014400,0.111772,0.009054,0.001935,0.002422,20977

In [11]:
lvc_sub = pd.read_csv('Output Files/lvc_ksplit_ensemble.csv')
lvc_sub.head()

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.398132,0.246272,0.344008,0.811573,0.227383,0.299004
1,20974,0.260467,0.810319,0.229476,0.260720,0.234741,0.267537
2,20975,0.731480,0.258456,0.250279,0.362072,0.313508,0.256594
3,20976,0.208622,0.815689,0.200903,0.265735,0.272365,0.248114
4,20977,0.716060,0.219148,0.338610,0.249313,0.239906,0.255159

In [12]:
lr_sub = pd.read_csv('Output Files/lr_ksplit_ensemble.csv')
lr_sub.head()

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.046268,0.000046,0.004774,0.999995,0.000005,0.000091
1,20974,0.000134,0.999995,0.000012,0.000035,0.000008,0.000009
2,20975,0.999742,0.000073,0.000090,0.009739,0.000266,0.000011
3,20976,0.000003,0.999999,0.000002,0.000044,0.000061,0.000003
4,20977,0.999698,0.000011,0.002542,0.000083,0.000007,0.000008

In [13]:
knn_sub = pd.read_csv('Output Files/knn_ksplit_ensemble.csv')
knn_sub.head()

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.555657,0.000000,0.244289,1.000000,0.000000,0.0
1,20974,0.000000,1.000000,0.000000,0.000000,0.000000,0.0
2,20975,0.644879,0.066483,0.244297,0.332745,0.088804,0.0
3,20976,0.000000,1.000000,0.000000,0.000000,0.000000,0.0
4,20977,0.822470,0.000000,0.399539,0.000000,0.000000,0.0

In [14]:
submission = pd.DataFrame()
submission['ID'] = df_bert['ID']

In [15]:
submission['Computer Science'] = 0.4*df_bert['Computer Science']+0.2*df_roberta['Computer Science']+0.2*lvc_sub['Computer Science']\
+ 0.1*lr_sub['Computer Science']+0.1*knn_sub['Computer Science']+0.0*df_roberta2['Computer Science']

In [16]:
submission['Physics'] = 0.4*df_bert['Physics']+0.2*df_roberta['Physics']+0.2*lvc_sub['Physics']\
+0.1*lr_sub['Physics']+0.1*knn_sub['Physics']+0.0*df_roberta2['Physics']

In [17]:
submission['Mathematics'] = 0.4*df_bert['Mathematics']+0.2*df_roberta['Mathematics']+0.2*lvc_sub['Mathematics']\
+0.1*lr_sub['Mathematics']+0.1*knn_sub['Mathematics']+0.0*df_roberta2['Mathematics']

In [18]:
submission['Statistics'] = 0.4*df_bert['Statistics']+0.2*df_roberta['Statistics']+0.2*lvc_sub['Statistics']\
+0.1*lr_sub['Statistics']+0.1*knn_sub['Statistics']+0.0*df_roberta2['Statistics']

In [19]:
submission['Quantitative Biology'] = 0.4*df_bert['Quantitative Biology']+0.2*df_roberta['Quantitative Biology']+0.2*lvc_sub['Quantitative Biology']\
+0.1*lr_sub['Quantitative Biology']+0.1*knn_sub['Quantitative Biology']+0.0*df_roberta2['Quantitative Biology']

In [20]:
submission['Quantitative Finance'] = 0.4*df_bert['Quantitative Finance']+0.2*df_roberta['Quantitative Finance']+0.2*lvc_sub['Quantitative Finance']\
+0.1*lr_sub['Quantitative Finance']+0.1*knn_sub['Quantitative Finance']+0.0*df_roberta2['Quantitative Finance']

In [21]:
for i in ['Computer Science', 'Physics', 'Mathematics', 'Statistics', 'Quantitative Biology','Quantitative Finance']:
    conditions = [submission[i] > 0.5]
    choices = [1]
    submission[i] = np.select(conditions, choices, default=0)

In [22]:
submission.head()

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0,0,0,1,0,0
1,20974,0,1,0,0,0,0
2,20975,1,0,0,0,0,0
3,20976,0,1,0,0,0,0
4,20977,1,0,0,0,0,0

In [23]:
submission.to_csv('Output Files/submission_ensemble.csv', index=False)