In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('train.csv')
train_backup = train.copy()
y = train['Stay']
train.head(2)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50

In [3]:
test = pd.read_csv('test.csv')
test_backup = test.copy() 
test.head(2)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095.0
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018.0

In [4]:
df_all = pd.read_csv('preprocess_entire_features.csv')
df_all.head(2)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,...,Age,Admission_Deposit,n_time,patient_count,hospitalization_category,patient_category,change_in_admission_deposit,change_in_visitor_with_patient,min_age,max_age
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,...,51-60,4911.0,1,56.0,4.0,4,0.0,0.0,51,60
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,...,51-60,5954.0,2,134.0,3.0,7,1043.0,0.0,51,60

In [5]:
df_all['Department'].value_counts()

gynecology            356688
anesthesia             42358
radiotherapy           41033
TB & Chest disease     13751
surgery                 1665
Name: Department, dtype: int64

In [6]:
df_all['Age'].value_counts()

41-50     91495
31-40     90420
51-60     69506
21-30     58560
71-80     50737
61-70     48619
11-20     23871
81-90     11240
0-10       9140
91-100     1907
Name: Age, dtype: int64

In [7]:
df_all.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'n_time', 'patient_count',
       'hospitalization_category', 'patient_category',
       'change_in_admission_deposit', 'change_in_visitor_with_patient',
       'min_age', 'max_age'],
      dtype='object')

In [8]:
df_all['Bed Grade'].value_counts()

2.0    176451
3.0    159090
4.0     82387
1.0     37567
Name: Bed Grade, dtype: int64

In [9]:
df_all['Gender_Female'] = np.where(df_all['Department'] == 'gynecology', 1, 0)

In [10]:
df_all['Gender_Female'].value_counts()

1    356688
0     98807
Name: Gender_Female, dtype: int64

In [11]:
df_all['Ward_Type'].value_counts()

R    182939
Q    152046
S    111166
P      7199
T      2133
U        12
Name: Ward_Type, dtype: int64

In [12]:
df_all['Ward_Facility_Code'].value_counts()

F    161470
E     79058
D     74312
C     50279
B     50116
A     40260
Name: Ward_Facility_Code, dtype: int64

In [13]:
df_all.head(1)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,...,Admission_Deposit,n_time,patient_count,hospitalization_category,patient_category,change_in_admission_deposit,change_in_visitor_with_patient,min_age,max_age,Gender_Female
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,...,4911.0,1,56.0,4.0,4,0.0,0.0,51,60,0

In [14]:
df_all['n_time_hospital'] = df_all.groupby(['patientid', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital', 'Hospital_region_code'])\
['patientid'].cumcount() + 1

In [15]:
df_all['n_time_hospital_bed'] = df_all.groupby(['patientid', 'Hospital_code', 'City_Code_Hospital', 'Hospital_region_code'])\
['Bed Grade'].cumcount() + 1

In [16]:
df_all['n_time_dept'] = df_all.groupby(['patientid', 'Department'])\
['Department'].cumcount() + 1

In [17]:
df_all['n_time_admission'] = df_all.groupby(['patientid', 'City_Code_Hospital'])['City_Code_Hospital'].cumcount()+1

In [18]:
df_all['n_time_city'] = df_all.groupby(['patientid', 'City_Code_Patient'])['City_Code_Patient'].cumcount()+1

In [19]:
df_all['change_in_admissionrooms'] = df_all.groupby('patientid')['Available Extra Rooms in Hospital'].diff(1)
df_all['change_in_admissionrooms'].fillna(0, inplace=True)

In [20]:
df_all['n_time_dept_hostype'] = df_all.groupby(['Hospital_type_code', 'Department'])\
['Department'].cumcount() + 1

In [21]:
df_all['n_time_dept_hostype'].unique()

array([     1,      2,      3, ..., 158643, 158644, 158645], dtype=int64)

In [22]:
df_all.head(2)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,...,min_age,max_age,Gender_Female,n_time_hospital,n_time_hospital_bed,n_time_dept,n_time_admission,n_time_city,change_in_admissionrooms,n_time_dept_hostype
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,...,51,60,0,1,1,1,1,1,0.0,1
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,...,51,60,0,1,1,2,1,2,-1.0,2

In [23]:
# cat_num_feats=pd.DataFrame(np.column_stack([df[m[0]].map(dict(df.groupby(m[0])[m[1]].mean()))\
# for m in [(a,b) for a in cat_cols for b in num_cols]]),\
#          columns=['cat_num_feat'+str(i) for i in range(len(cat_cols)*len(num_cols))])

In [24]:
for i in ['Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness']:
    df_all = pd.concat([df_all, pd.get_dummies(df_all[i], prefix=i+'_')],axis=1)

In [25]:
df_all.drop(['case_id', 'patientid', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital', 
       'Hospital_region_code', 'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Age'], axis=1, inplace=True)

In [26]:
df_all.shape

(455495, 136)

In [27]:
train = df_all[:train_backup.shape[0]]
test = df_all[train_backup.shape[0]:]

In [28]:
train.shape

(318438, 136)

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.3, random_state=0)

In [31]:
from sklearn.svm import LinearSVC

lgbm = LinearSVC()

lgbm.fit(X_train, y_train)

LinearSVC()

In [32]:
train_preds = lgbm.predict(X_train)
val_preds = lgbm.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score

accuracy_score(y_train, train_preds)

0.2455160471230025

In [34]:
accuracy_score(y_test, val_preds)

0.2485345224636771

In [31]:
# train = df_all[:train_backup.shape[0]]
# test = df_all[train_backup.shape[0]:]

In [32]:
# train['Stay'] = y

In [33]:
# train_fine = train[~train['Stay'].isin(['91-100', '61-70'])]
# train_low1 = train[train['Stay'] == '61-70']
# train_low2 = train[train['Stay'] == '91-100']

# train = pd.concat([train_fine, train_low1, train_low1, train_low2, train_low2], ignore_index=True)

In [34]:
# train.to_csv('train_best.csv', index=False)
# test.to_csv('test_best.csv', index=False)

In [35]:
# y = train['Stay']
# train.drop('Stay', axis=1, inplace=True)

In [36]:
# lgbm = lgb.LGBMClassifier(n_estimators=200, random_state=0)

# lgbm.fit(train, y)

In [37]:
preds = lgbm.predict(test)

In [38]:
test_backup['Stay'] = preds

In [39]:
test_backup[['case_id', 'Stay']].to_csv('lgb_baseline.csv', index=False)